* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.jobcard-container {
  /* border: 1px solid black; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 60px;
  margin-bottom: 80px;
}
.jobcard-section {
  /* border: 1px solid red; */
  width: 100%;
}
.jobcard-section-1 {
  width: 100%;
  height: auto;
}
.jobcard-section-1 h1 {
  width: 100%;
  height: auto;
  text-align: center;
}
.jobcard {
  width: 40%;
  height: auto;
  /* border: 1px solid black; */
  /* float: left; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.jobcard-icon {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.jobcard-icon p {
  background-color: lightgreen;
  border-radius: 5px;
  padding: 2px 8px;
}
.jobcard-icon i {
  margin-top: 5px;
}
.jobcard-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-top: -30px;
  margin-bottom: 20px;
}
.jobcard-heading h1 {
  font-size: 26px;
  text-decoration: none;
  text-align: center;
  color: gray;
  font-weight: 600;
}
.jobcard-heading p {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  font-weight: 400;
}
.jobcard-paragraph {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.jobcard-paragraph span {
  /* border: 1px solid black; */
  font-size: 20px;
  color: black;
}
.jobcard-button {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobcard-btn {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
}
.jobcard-btn-1 {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.jobcard-2 {
  /* border: 1px solid black; */
  padding: 20px;
}
.jobcard-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-name {
  /* border: 1px solid black; */
  margin-top: 10px;
}
.modal-email {
  margin-top: 10px;
}
.modal-phone {
  margin-top: 10px;
}
.modal-address {
  margin-top: 10px;
}
.modal-resume {
  margin-top: 10px;
}
.modal-button button {
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .jobcard-container {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 40px;
  }
  .jobcard {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 30px;
  }
  .jobcard-img img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
  }
  .jobcard-heading h1 {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .jobcard-heading p {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
  }

  .jobcard-2 {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .modal-name {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .modal-email {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .modal-phone {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .modal-address {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .modal-resume {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  } 
}
